<%
    var code;
%>
<div id="widgets-button-view" class="uix-view">
    <div class="content-head">Widgets/uix-button</div>
    <div class="content-body">
        <h2>Text button</h2>
        <%-code = '<button class="uix-button">Press Me</button>'%>
        <pre><code class="html hljs"><%=code%></code></pre>

        <h2>A disabled button</h2>
        <%-code = '<button class="uix-button" disabled="disabled">Press Me</button>'%>
        <pre><code class="html hljs"><%=code%></code></pre>

        <h2>Text and icon button</h2>
        <%-code = '<button class="uix-button left-icon"><span class="icon icon-star"></span>Press Me</button>'%>
        <pre><code class="html hljs"><%=code%></code></pre>

        <%-code = '<button class="uix-button right-icon"><span class="icon icon-star"></span>Press Me</button>'%>
        <pre><code class="html hljs"><%=code%></code></pre>

        <h2>Icon button</h2>
        <%-code = '<button class="uix-button icon icon-star"></button>'%>
        <pre><code class="html hljs"><%=code%></code></pre>

        <h2>Gray button</h2>
        <%-code = '<button class="uix-button btn-gray left-icon"><span class="icon icon-star"></span>Press Me</button>'%>
        <pre><code class="html hljs"><%=code%></code></pre>

        <h2>Link button</h2>
        <%-code = '<button class="uix-button btn-link left-icon"><span class="icon icon-star"></span>Press Me</button>'%>
        <pre><code class="html hljs"><%=code%></code></pre>
    </div>
</div>