<div id="widgets-check-view" class="uix-view">
    <div class="content-head">Widgets/uix-check</div>
    <div class="content-body">
        <h2>Check</h2>
        <%-code =
            '<label class="uix-check">\n' +
                '\t<input name="remember" type="checkbox" value="1" />\n' +
                '\t<span class="uix-mark"></span>\n' +
                '\tRemember Me\n' +
            '</label>\n'%>
        <pre><code class="html hljs"><%=code%></code></pre>
        <br/>

        <h2>Check (Dark)</h2>
        <div style="background: #000; padding: 8px 16px;">
        <%-code =
            '<label class="uix-check dark">\n' +
            '\t<input name="remember" type="checkbox" value="1" />\n' +
            '\t<span class="uix-mark"></span>\n' +
            '\tRemember Me\n' +
            '</label>\n'%>
        </div>
        <pre><code class="html hljs"><%=code%></code></pre>
        <br/>

        <h2>Radio</h2>
        <%-code =
            '<label class="uix-check">\n' +
                '\t<input name="gender" type="radio" value="male" />\n' +
                '\t<span class="uix-mark"></span>\n' +
                '\tMale\n' +
            '</label>\n' +
            '<label class="uix-check">\n' +
                '\t<input name="gender" type="radio" value="female" />\n' +
                '\t<span class="uix-mark"></span>\n' +
                '\tFemale\n' +
            '</label>\n'%>
        <pre><code class="html hljs"><%=code%></code></pre>
        <br/>
    </div>
</div>